In [8]:
import psycopg2

import pandas as pd

conn = psycopg2.connect(
    host="127.0.0.1",
    database='Project-Test',
    user='postgres',
    password='123qw123'
)

In [16]:
cur = conn.cursor()
data= (1)
cursor = conn.cursor()

DATA=(startupdatdata,endupdatedata,int(seasonupdata))
QUERY="UPDATE seasons SET (start_date,end_date)=(%s,%s) WHERE season_id=(%s)"
cursor.execute(QUERY,DATA)

x[0][1]

datetime.date(2000, 1, 1)

In [20]:
df = pd.DataFrame(x)
df

      0           1           2
0  2022  2022-01-01  2022-12-31
1  2021  2021-01-01  2021-12-31
2  2023  2023-01-01  2023-12-31

In [25]:
#from read import Read
from create import Create
#from update import Update
#from delete import Delete
import psycopg2

import pandas as pd

conn = psycopg2.connect(
    host="127.0.0.1",
    database='Project-Test',
    user='postgres',
    password='123qw123'
)


def main():
    print('Available Options: C=Create, R=Read, U=Update, D=Delete ')
    choice = input('Choose your option = ')

    if choice == 'C':
        createObj=Create()
        createObj.func_CreateData()
    else:
        print('Wrong choice, You are going exist.')


# Call the main function
main()

Available Options: C=Create, R=Read, U=Update, D=Delete

TypeError: Create.func_CreateData() takes 0 positional arguments but 1 was given

In [23]:
class Create:
    def func_CreateData(self):
        season = input('Enter season=')
        start_date= input('Enter Start Date (mm-dd-yyyy)')
        end_date= input('Enter Start Date (mm-dd-yyyy)', )
        try:
            cursor = conn.cursor()
            cursor.execute("INSERT INTO SEASON (season_id,start_date,end_date) VALUES(%s,%s,%s)",(season,start_date,end_date))
            
            print("Data was suscessfully inserted")

        except:
            print("OPS, something went wrong. Please check the data")

        finally:
            conn.commit()

In [28]:
import datetime

x = datetime.date(2020, 5, 17)

print(x)

2020-05-17

In [31]:
x=input('date')


year, month, day = map(int, x.split('-'))

d=datetime.date(year,month,day)

print(d)

2020-05-17

In [44]:
""" season = input('Enter season=')
start_date= input('Enter Start Date (-dd-yyyy)')
year, month, day = map(int, start_date.split('-'))
start_date=datetime.date(year,month,day)
end_date= input('Enter End Date (mm-dd-yyyy)')
year, month, day = map(int, end_date.split('-'))
end_date=datetime.date(year,month,day) """        

season=2002

start_date=datetime.date(2002,5,20)
end_date=datetime.date(2002,5,21)
QUERY="INSERT INTO seasons VALUES (%s,%s,%s);"
DATA=(season,start_date,end_date)


cursor = conn.cursor()

cursor.execute(QUERY,DATA)

conn.commit()